In [4]:
#%pip install pandas
#%pip install numpy
#%pip install matplotlib
#%pip install seaborn

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


df = pd.read_csv("../data/raw/Titanic-Dataset.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
# --- 1. VARIABLE: Title (TITULO) ---

def title_feature(df):
    # Avoid inplace=True
    df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)', expand=False)
    df['Title'] = df['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    df['Title'] = df['Title'].replace('Mlle', 'Miss')
    df['Title'] = df['Title'].replace('Ms', 'Miss')
    df['Title'] = df['Title'].replace('Mme', 'Mrs')
    # VERIFICACIÓN DE CALIDAD
    print("VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'Title':")
    print(df['Title'].value_counts())
    return df

title_feature = title_feature(df)

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'Title':
Title
Mr             502
Miss           182
Mrs            122
Master          40
Rare            20
y                4
Planke           3
Impe             3
Gordon           2
Billiard         1
Pelsmaeker       1
Mulder           1
Walle            1
der              1
Carlo            1
Steen            1
Messemaeker      1
Velde            1
the              1
Shawah           1
Melkebeke        1
Cruyssen         1
Name: count, dtype: int64

In [10]:
# --- 2. VARIABLE: FamilySize (TAMAÑO DE LA FAMILIA) ---

def family_size_feature(df):
    df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
    # VERIFICACIÓN DE CALIDAD
    print("\nVERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'FamilySize':")
    print(df['FamilySize'].value_counts().sort_index())
    print("\nVERIFICACIÓN DE LA DISTRIBUCIÓN para 'FamilySize':")
    print(df['FamilySize'].describe())
    return df
family_size_feature(title_feature)

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'FamilySize':
FamilySize
1     537
2     161
3     102
4      29
5      15
6      22
7      12
8       6
11      7
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'FamilySize':
count    891.000000
mean       1.904602
std        1.613459
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       11.000000
Name: FamilySize, dtype: float64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rare,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss,4
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr,1

In [12]:
# --- 3. VARIABLE: IsAlone (ESTA SOLO) ---

def is_alone_feature(df):
    df['IsAlone'] = (df['FamilySize'] == 1).astype(int)
    # VERIFICACIÓN DE CALIDAD
    print("\nVERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'IsAlone':")
    print(df['IsAlone'].value_counts())
    print("\nVERIFICACIÓN DE LA DISTRIBUCIÓN para 'IsAlone':")
    print(df['IsAlone'].describe())
    return df
is_alone_feature(df)

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'IsAlone':
IsAlone
1    537
0    354
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'IsAlone':
count    891.000000
mean       0.602694
std        0.489615
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: IsAlone, dtype: float64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilySize,IsAlone
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,2,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,2,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,1,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,2,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rare,1,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss,1,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss,4,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr,1,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr,1,1

In [13]:
# --- 4. VARIABLE: AgeGroup (GRUPO DE EDAD) ---
# MANEJO DE VALORES NULOS PARA LA EDAD

def age_group_feature(df):
      # Avoid inplace=True
      df['Age'] = df['Age'].fillna(df['Age'].median())
      bins = [0, 12, 18, 60, np.inf]
      labels = ['Child', 'Adolescent/Teenager', 'Adult', 'Senior']
      df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)
      # VERIFICACIÓN DE CALIDAD
      print("\nVERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'AgeGroup':")
      print(df['AgeGroup'].value_counts())
      return df
age_group_feature(df)

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'AgeGroup':
AgeGroup
Adult                  752
Child                   68
Adolescent/Teenager     45
Senior                  26
Name: count, dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilySize,IsAlone,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,2,0,Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,2,0,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,1,1,Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,2,0,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,1,1,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rare,1,1,Adult
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss,1,1,Adult
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,NaN,S,Miss,4,0,Adult
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr,1,1,Adult
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr,1,1,Adult

In [14]:
# --- 5. VARIABLE: FarePerPerson (TARIFA POR PERSONA) ---

def fare_per_person_feature(df):
    df['FarePerPerson'] = df['Fare'] / df['FamilySize']
    # Avoid inplace=True
    df['FarePerPerson'] = df['FarePerPerson'].fillna(df['FarePerPerson'].mean()) # Manejo de Nulos
    # VERIFICACIÓN DE CALIDAD
    print("\nVERIFICACIÓN DE LA DISTRIBUCIÓN para 'FarePerPerson':")
    print(df['FarePerPerson'].describe())
    return df
fare_per_person_feature(df)

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'FarePerPerson':
count    891.000000
mean      19.916375
std       35.841257
min        0.000000
25%        7.250000
50%        8.300000
75%       23.666667
max      512.329200
Name: FarePerPerson, dtype: float64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilySize,IsAlone,AgeGroup,FarePerPerson
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,2,0,Adult,3.62500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,2,0,Adult,35.64165
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,1,1,Adult,7.92500
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,2,0,Adult,26.55000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,1,1,Adult,8.05000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rare,1,1,Adult,13.00000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss,1,1,Adult,30.00000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,NaN,S,Miss,4,0,Adult,5.86250
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr,1,1,Adult,30.00000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr,1,1,Adult,7.75000

In [15]:
# --- 6. VARIABLE: CabinDeck (CUBIERTA DE LA CABINA) ---

def cabin_deck_feature(df):
    df['CabinDeck'] = df['Cabin'].str.extract('([A-Z])', expand=False)
    # Avoid inplace=True
    df['CabinDeck'] = df['CabinDeck'].fillna('Unknown')
    # VERIFICACIÓN DE CALIDAD
    print("\nVERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'CabinDeck':")
    print(df['CabinDeck'].value_counts())
    return df
cabin_deck_feature(df)

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'CabinDeck':
CabinDeck
Unknown    687
C           59
B           47
D           33
E           32
A           15
F           13
G            4
T            1
Name: count, dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilySize,IsAlone,AgeGroup,FarePerPerson,CabinDeck
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,2,0,Adult,3.62500,Unknown
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,2,0,Adult,35.64165,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,1,1,Adult,7.92500,Unknown
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,2,0,Adult,26.55000,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,1,1,Adult,8.05000,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rare,1,1,Adult,13.00000,Unknown
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss,1,1,Adult,30.00000,B
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,NaN,S,Miss,4,0,Adult,5.86250,Unknown
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr,1,1,Adult,30.00000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr,1,1,Adult,7.75000,Unknown

In [16]:
# --- 7. VARIABLE: CabinKnown (CABINA CONOCIDA) ---

def cabin_known_feature(df):
  df['CabinKnown'] = df['Cabin'].isnull().astype(int)
  # VERIFICACIÓN DE CALIDAD
  print("\nVERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'CabinKnown':")
  print(df['CabinKnown'].value_counts())
  print("\nVERIFICACIÓN DE LA DISTRIBUCIÓN para 'CabinKnown':")
  print(df['CabinKnown'].describe())
  return df
cabin_known_feature(df)

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'CabinKnown':
CabinKnown
1    687
0    204
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'CabinKnown':
count    891.000000
mean       0.771044
std        0.420397
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: CabinKnown, dtype: float64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilySize,IsAlone,AgeGroup,FarePerPerson,CabinDeck,CabinKnown
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,2,0,Adult,3.62500,Unknown,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,2,0,Adult,35.64165,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,1,1,Adult,7.92500,Unknown,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,2,0,Adult,26.55000,C,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,1,1,Adult,8.05000,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rare,1,1,Adult,13.00000,Unknown,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss,1,1,Adult,30.00000,B,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,NaN,S,Miss,4,0,Adult,5.86250,Unknown,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr,1,1,Adult,30.00000,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr,1,1,Adult,7.75000,Unknown,1

In [17]:
# --- 8. VARIABLE: TicketFrequency (FREQUENCIA DE TICKEY ) ---

def ticket_frequency_feature(df):
  df['TicketFrequency'] = df.groupby('Ticket')['Ticket'].transform('count')
  # VERIFICACIÓN DE CALIDAD
  print("\nVERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'TicketFrequency':")
  print(df['TicketFrequency'].value_counts().sort_index())
  print("\nVERIFICACIÓN DE LA DISTRIBUCIÓN para 'TicketFrequency':")
  print(df['TicketFrequency'].describe())
  return df
ticket_frequency_feature(df)

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'TicketFrequency':
TicketFrequency
1    547
2    188
3     63
4     44
5     10
6     18
7     21
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'TicketFrequency':
count    891.000000
mean       1.787879
std        1.361142
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        7.000000
Name: TicketFrequency, dtype: float64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilySize,IsAlone,AgeGroup,FarePerPerson,CabinDeck,CabinKnown,TicketFrequency
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,2,0,Adult,3.62500,Unknown,1,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,2,0,Adult,35.64165,C,0,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,1,1,Adult,7.92500,Unknown,1,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,2,0,Adult,26.55000,C,0,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,1,1,Adult,8.05000,Unknown,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rare,1,1,Adult,13.00000,Unknown,1,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss,1,1,Adult,30.00000,B,0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,NaN,S,Miss,4,0,Adult,5.86250,Unknown,1,2
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr,1,1,Adult,30.00000,C,0,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr,1,1,Adult,7.75000,Unknown,1,1

In [18]:
# --- 9. VARIABLE: NameLength (LONGITUD DE NOMBRE ) ---

def name_length_feature(df):
  df['NameLength'] = df['Name'].str.len()
  # VERIFICACIÓN DE CALIDAD
  print("\nVERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'NameLength':")
  print(df['NameLength'].value_counts().sort_index())
  print("\nVERIFICACIÓN DE LA DISTRIBUCIÓN para 'NameLength':")
  print(df['NameLength'].describe())
  return df
name_length_feature(df)

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'NameLength':
NameLength
12     2
13     2
14     3
15    15
16    26
17    42
18    50
19    64
20    39
21    40
22    38
23    39
24    43
25    55
26    49
27    50
28    43
29    32
30    37
31    30
32    23
33    22
34     7
35     6
36     9
37    10
38     9
39     9
40     7
41     8
42     5
43     5
44     8
45     9
46     7
47    11
48     3
49     5
50     4
51     7
52     4
53     2
54     1
55     2
56     3
57     2
61     1
65     1
67     1
82     1
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'NameLength':
count    891.000000
mean      26.965208
std        9.281607
min       12.000000
25%       20.000000
50%       25.000000
75%       30.000000
max       82.000000
Name: NameLength, dtype: float64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,Title,FamilySize,IsAlone,AgeGroup,FarePerPerson,CabinDeck,CabinKnown,TicketFrequency,NameLength
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,Mr,2,0,Adult,3.62500,Unknown,1,1,23
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,C,Mrs,2,0,Adult,35.64165,C,0,1,51
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,Miss,1,1,Adult,7.92500,Unknown,1,1,22
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,Mrs,2,0,Adult,26.55000,C,0,2,44
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,Mr,1,1,Adult,8.05000,Unknown,1,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,...,S,Rare,1,1,Adult,13.00000,Unknown,1,1,21
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,...,S,Miss,1,1,Adult,30.00000,B,0,1,28
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,...,S,Miss,4,0,Adult,5.86250,Unknown,1,2,40
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,...,C,Mr,1,1,Adult,30.00000,C,0,1,21
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,...,Q,Mr,1,1,Adult,7.75000,Unknown,1,1,19

In [19]:
# --- 10. VARIABLE: HasCabinNeighbor (CABINAS CERCANAS CON FAMILIARES ) ---

def has_cabin_neighbor_feature(df):
    df['HasCabinNeighbor'] = df['Cabin'].notnull().astype(int)
    # VERIFICACIÓN DE CALIDAD
    print("\nVERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'HasCabinNeighbor':")
    print(df['HasCabinNeighbor'].value_counts())
    print("\nVERIFICACIÓN DE LA DISTRIBUCIÓN para 'HasCabinNeighbor':")
    print(df['HasCabinNeighbor'].describe())
    return df
has_cabin_neighbor_feature(df)

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'HasCabinNeighbor':
HasCabinNeighbor
0    687
1    204
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'HasCabinNeighbor':
count    891.000000
mean       0.228956
std        0.420397
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: HasCabinNeighbor, dtype: float64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Title,FamilySize,IsAlone,AgeGroup,FarePerPerson,CabinDeck,CabinKnown,TicketFrequency,NameLength,HasCabinNeighbor
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,Mr,2,0,Adult,3.62500,Unknown,1,1,23,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,Mrs,2,0,Adult,35.64165,C,0,1,51,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,Miss,1,1,Adult,7.92500,Unknown,1,1,22,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,Mrs,2,0,Adult,26.55000,C,0,2,44,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,Mr,1,1,Adult,8.05000,Unknown,1,1,24,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,...,Rare,1,1,Adult,13.00000,Unknown,1,1,21,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,...,Miss,1,1,Adult,30.00000,B,0,1,28,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,...,Miss,4,0,Adult,5.86250,Unknown,1,2,40,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,...,Mr,1,1,Adult,30.00000,C,0,1,21,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,...,Mr,1,1,Adult,7.75000,Unknown,1,1,19,0

In [20]:
# --- 11. VARIABLE: TicketPrefix (PREFIJO DEL TCIKET ) ---

def ticket_prefix_feature(df):
    df['TicketPrefix'] = df['Ticket'].str.extract(r'([A-Za-z]+)\d*')
    # Avoid inplace=True
    df['TicketPrefix'] = df['TicketPrefix'].fillna('Unknown')
    # VERIFICACIÓN DE CALIDAD
    print("\nVERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'TicketPrefix':")
    print(df['TicketPrefix'].value_counts())
    return df
ticket_prefix_feature(df)

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'TicketPrefix':
TicketPrefix
Unknown    661
PC          60
C           33
A           29
STON        18
SOTON       17
CA          14
S           14
SC          13
W           11
F            6
LINE         4
PP           3
P            2
WE           2
SO           1
Fa           1
SCO          1
SW           1
Name: count, dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,FamilySize,IsAlone,AgeGroup,FarePerPerson,CabinDeck,CabinKnown,TicketFrequency,NameLength,HasCabinNeighbor,TicketPrefix
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,2,0,Adult,3.62500,Unknown,1,1,23,0,A
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,2,0,Adult,35.64165,C,0,1,51,1,PC
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,1,1,Adult,7.92500,Unknown,1,1,22,0,STON
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,2,0,Adult,26.55000,C,0,2,44,1,Unknown
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,1,1,Adult,8.05000,Unknown,1,1,24,0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,...,1,1,Adult,13.00000,Unknown,1,1,21,0,Unknown
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,...,1,1,Adult,30.00000,B,0,1,28,1,Unknown
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,...,4,0,Adult,5.86250,Unknown,1,2,40,0,W
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,...,1,1,Adult,30.00000,C,0,1,21,1,Unknown
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,...,1,1,Adult,7.75000,Unknown,1,1,19,0,Unknown

In [22]:
class TitanicDatasetPreprocessorOld:
    """
    Clase de preprocesamiento para el dataset del Titanic.

    Esta clase nos sirve para preparar los datos del Titanic y alimentar modelos de
    machine learning a través de tres funcionalidades principales:

    1. Crear nuevas variables a partir de variables existentes (feature engineering).
    2. Validar que estas variables estén correctas.
    3. Transformar los datos para que sean numéricos y escalables para un modelo de ML.
    """

    def __init__(self):
        self.pipeline = None
        self.feature_engineered = False
        self.num_cols = []
        self.cat_cols = []

    # ---------------------------
    # VALIDACIÓN DE FEATURES
    # ---------------------------
    def _validate_feature(self, df, col, expected_dtype=None, max_unique=None):
        """
        Verificamos que la columna exista, cuántos valores nulos hay,
        que tenga el tipo de dato correcto y no demasiados valores únicos.
        """
        assert col in df.columns, f" Columna {col} no fue creada."
        assert df[col].isnull().mean() < 0.2, f" Columna {col} tiene demasiados valores nulos."
        if expected_dtype:
            assert df[col].dtype == expected_dtype, f" {col} debería ser {expected_dtype}, pero es {df[col].dtype}."
        if max_unique:
            assert df[col].nunique() <= max_unique, f" {col} tiene demasiados valores únicos ({df[col].nunique()})."
        print(f" Validación pasada: {col}")

    # ---------------------------
    # TRATAMIENTO DE OUTLIERS
    # ---------------------------
    def _treat_outliers(self, df, cols):
        """
        Tratamiento de outliers usando IQR (rango intercuartílico).
        Los valores extremos se "recortan" (clip) para reducir su impacto.
        """
        for col in cols:
            if col in df.columns:
                Q1 = df[col].quantile(0.25)
                Q3 = df[col].quantile(0.75)
                IQR = Q3 - Q1
                lower = Q1 - 1.5 * IQR
                upper = Q3 + 1.5 * IQR
                df[col] = np.clip(df[col], lower, upper)
                print(f" Outliers tratados en {col}")
        return df

    def visualize_outliers(self, df, cols):
        """
        Visualización de outliers con boxplot e histograma.
        Útil para diagnosticar variables antes y después del tratamiento.
        """
        for col in cols:
            if col in df.columns:
                fig, axes = plt.subplots(1, 2, figsize=(12, 4))
                sns.boxplot(x=df[col], ax=axes[0])
                axes[0].set_title(f"Boxplot de {col}")
                sns.histplot(df[col], bins=30, kde=True, ax=axes[1])
                axes[1].set_title(f"Distribución de {col}")
                plt.tight_layout()
                plt.show()

    # ---------------------------
    # FEATURE ENGINEERING
    # ---------------------------
    def _feature_engineering(self, df):
        """
        Aplicamos funciones de feature engineering personalizadas.
        """
        feature_funcs = [
            title_feature, family_size_feature, is_alone_feature, age_group_feature,
            fare_per_person_feature, cabin_deck_feature, cabin_known_feature,
            ticket_frequency_feature, name_length_feature, has_cabin_neighbor_feature,
            ticket_prefix_feature
        ]
        for func in feature_funcs:
            df = func(df)

        # Validación de columnas críticas
        for col in ["Title", "FamilySize", "IsAlone", "AgeGroup", "FarePerPerson"]:
            self._validate_feature(df, col)

        # Agregamos interacciones entre features
        df = self._feature_interactions(df)
        return df

    def _feature_interactions(self, df):
        """
        Creación de variables de interacción entre sexo, edad, clase, tarifa y familia.
        """
        df["Sex*Class"] = df["Sex"].astype(str) + "_" + df["Pclass"].astype(str)
        df["Age*Class"] = pd.cut(df["Age"], bins=[0,12,18,40,60,80], labels=False) * df["Pclass"]
        df["Sex*AgeGroup"] = df["Sex"].astype(str) + "_" + df["AgeGroup"].astype(str)
        df["Fare*Embarked"] = pd.qcut(df["Fare"], 4, labels=False) * df["Embarked"].factorize()[0]
        df["Family*Class"] = df["FamilySize"] * df["Pclass"]

        for col in ["Sex*Class", "Age*Class", "Sex*AgeGroup", "Fare*Embarked", "Family*Class"]:
            self._validate_feature(df, col)

        return df

    # ---------------------------
    # FIT & TRANSFORM
    # ---------------------------
    def fit(self, X, y=None):
        """
        Prepara el pipeline: define columnas numéricas y categóricas,
        aplica imputación, escalado y OneHotEncoder.
        """
        X_proc = self._feature_engineering(X.copy())
        self.feature_engineered = True

        # Definición explícita de columnas
        self.num_cols = [
            "FamilySize", "IsAlone", "FarePerPerson", "CabinKnown",
            "TicketFrequency", "NameLength", "HasCabinNeighbor",
            "Age*Class", "Fare*Embarked", "Family*Class"
        ]
        self.cat_cols = [
            "Title", "AgeGroup", "CabinDeck", "TicketPrefix",
            "Sex*Class", "Sex*AgeGroup"
        ]

        # Filtramos por seguridad
        self.num_cols = [c for c in self.num_cols if c in X_proc.columns]
        self.cat_cols = [c for c in self.cat_cols if c in X_proc.columns]

        num_transformer = Pipeline(steps=[
            ("imputer", SimpleImputer(strategy="median")),
            ("scaler", StandardScaler())
        ])
        cat_transformer = Pipeline(steps=[
            ("imputer", SimpleImputer(strategy="most_frequent")),
            ("onehot", OneHotEncoder(handle_unknown="ignore"))
        ])

        self.pipeline = ColumnTransformer(transformers=[
            ("num", num_transformer, self.num_cols),
            ("cat", cat_transformer, self.cat_cols)
        ])

        self.pipeline.fit(X_proc)
        return self

    def transform(self, X):
        """
        Aplica las transformaciones al dataset (imputación, escalado y encoding).
        """
        if not self.feature_engineered:
            raise RuntimeError("Primero usa fit() en datos de entrenamiento.")
        X_proc = self._feature_engineering(X.copy())
        return self.pipeline.transform(X_proc)

    def fit_transform(self, X, y=None):
        """
        Combina fit() y transform() en una sola llamada.
        """
        return self.fit(X, y).transform(X)

    # ---------------------------
    # NOMBRES DE FEATURES
    # ---------------------------
    def get_feature_names(self):
        """
        Devuelve la lista de nombres de columnas después del preprocesamiento
        (incluyendo las creadas por OneHotEncoder).
        """
        output_features = []
        if self.num_cols:
            output_features.extend(self.num_cols)
        if self.cat_cols:
            cat_features = self.pipeline.named_transformers_["cat"]["onehot"].get_feature_names_out(self.cat_cols)
            output_features.extend(cat_features)
        return output_features

In [23]:
df.head()
df.shape

(891, 23)

In [ ]:
%pip install scikit-learn
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


# La clase TitanicDatasetPreprocessor nos sirve para preprocesar los datos, ubicados en
# el dataframe del titanic llamado df, lo cual no sirve para alimentar modelos de
# machine learning a través de tres/3 funcionalidades que viene siendo:


# 1. Crear nuevas variables a partir de variables existentes (feature engineering)
# 2. Validar que estas variables estén correctas
# 3. Transformar los datos para que sean númericos y escalables para un modelo de ML.



class TitanicDatasetPreprocessor:
    """
    Clase de preprocesamiento para el dataset del Titanic.

    Esta clase nos sirve para preparar los datos del Titanic y alimentar modelos de
    machine learning a través de tres funcionalidades principales:

    1. Crear nuevas variables a partir de variables existentes (feature engineering).
    2. Validar que estas variables estén correctas.
    3. Transformar los datos para que sean numéricos y escalables para un modelo de ML.
    """

    def __init__(self):
        self.pipeline = None  # Con pipeline, podemos guardar el objeto de transformación que aplica el escalado
        self.feature_engineered = False # Con feature engineered, tenemos un flag que indica si las nuevas columnas/variables han sido creadas
        self.output_feature_names_ = None
        self.categorical_cols_to_drop = ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'] # Original categorical columns to drop
        # Explicitly define categorical columns including engineered ones
        self.cat_cols = [
            "Title", "AgeGroup", "CabinDeck", "TicketPrefix",
            "Sex*Class", "Sex*AgeGroup"
        ]
        # Explicitly define numerical columns (excluding original and target)
        # Excluimos 'PassengerId' ya que es un identificador y no una característica predictiva.
        self.num_cols = [
            "Pclass", "Age", "SibSp", "Parch", "Fare",
            "FamilySize", "IsAlone", "FarePerPerson", "CabinKnown",
            "TicketFrequency", "NameLength", "HasCabinNeighbor",
            "Age*Class", "Fare*Embarked", "Family*Class"
        ]


    # Validación continua
    # Verificamos que la columna exista, checamos cuantos valores nulos hay, nos aseguramos que la columan sea el tipo de dato correcto
    # y checamos cuantos valores unicos hay.
    # Si no cumple ninguna de las condiciones entonces nos marca error

    def _validate_feature(self, df, col, expected_dtype=None, max_unique=None):
        """
        Verifica que la columna exista, cuántos valores nulos hay,
        que tenga el tipo de dato correcto y no demasiados valores únicos.
        """
        assert col in df.columns, f"Columna {col} no fue creada."
        assert df[col].isnull().mean() < 0.2, f"Columna {col} tiene demasiados valores nulos."
        if expected_dtype:
            assert df[col].dtype == expected_dtype, f"{col} debería ser {expected_dtype}, pero es {df[col].dtype}."
        if max_unique:
            assert df[col].nunique() <= max_unique, f"{col} tiene demasiados valores únicos ({df[col].nunique()})."
        print(f"Validación pasada: {col}")

    # Tratamiento de outliers con IQR
    # (Aquí se investigar si hay valores atípicos y/o extremos)


    def _treat_outliers(self, df, cols):
        """
        Tratamiento de outliers usando IQR (rango intercuartílico).
        Los valores extremos se "recortan" (clip) para reducir su impacto.
        """
        for col in cols:
            if col in df.columns:
                Q1 = df[col].quantile(0.25)
                Q3 = df[col].quantile(0.75)
                IQR = Q3 - Q1
                lower = Q1 - 1.5 * IQR
                upper = Q3 + 1.5 * IQR
                df[col] = np.clip(df[col], lower, upper)
                print(f"Outliers tratados en {col}")
        return df

    # Visualización de outliers


    def visualize_outliers(self, df, cols):
        """
        Visualización de outliers con boxplot e histograma.
        Útil para diagnosticar variables antes y después del tratamiento.
        """
        for col in cols:
            if col in df.columns:
                fig, axes = plt.subplots(1, 2, figsize=(12, 4))
                sns.boxplot(x=df[col], ax=axes[0])
                axes[0].set_title(f"Boxplot de {col}")
                sns.histplot(df[col], bins=30, kde=True, ax=axes[1])
                axes[1].set_title(f"Distribución de {col}")
                plt.tight_layout()
                plt.show()


     # Feature Engineering

    def _feature_engineering(self, df):
        """
        Aplicamos funciones de feature engineering personalizadas.
        """
        feature_funcs = [
            title_feature, family_size_feature, is_alone_feature, age_group_feature,
            fare_per_person_feature, cabin_deck_feature, cabin_known_feature,
            ticket_frequency_feature, name_length_feature, has_cabin_neighbor_feature,
            ticket_prefix_feature
        ]
        for func in feature_funcs:
            df = func(df)

        # Revisamos que la hayan creado ciertas features
        # Validación de columnas críticas
        for col in ["Title", "FamilySize", "IsAlone", "AgeGroup", "FarePerPerson"]:
            self._validate_feature(df, col)

        # Agregamos interacciones entre features
        df = self._feature_interactions(df)
        return df

    # Interacciones de Features

    def _feature_interactions(self, df):
        """
        Creación de variables de interacción entre sexo, edad, clase, tarifa y familia.
        """
        df["Sex*Class"] = df["Sex"].astype(str) + "_" + df["Pclass"].astype(str)
        df["Age*Class"] = pd.cut(df["Age"], bins=[0,12,18,40,60,80], labels=False) * df["Pclass"]
        df["Sex*AgeGroup"] = df["Sex"].astype(str) + "_" + df["AgeGroup"].astype(str)
        # Handle potential NaN or non-numeric values in Embarked before factorization
        df["Fare*Embarked"] = pd.qcut(df["Fare"], 4, labels=False) * df["Embarked"].fillna('Unknown').factorize()[0]
        df["Family*Class"] = df["FamilySize"] * df["Pclass"]

        for col in ["Sex*Class", "Age*Class", "Sex*AgeGroup", "Fare*Embarked", "Family*Class"]:
            self._validate_feature(df, col)

        return df


    # Fit - Aprende de los parámetros de Transformación

    def fit(self, X, y=None):
        """
        Prepara el pipeline: define columnas numéricas y categóricas,
        aplica imputación, escalado y OneHotEncoder.
        """
        X_proc = self._feature_engineering(X.copy())
        self.feature_engineered = True

        # Identify numerical and categorical columns based on explicit lists
        # Ensure these columns exist in the processed dataframe
        num_cols_pipeline = [col for col in self.num_cols if col in X_proc.columns]
        cat_cols_pipeline = [col for col in self.cat_cols if col in X_proc.columns]


        # Rellenamos nulos con la mediana y luego escalamos los datos
        num_transformer = Pipeline(steps=[
            ("imputer", SimpleImputer(strategy="median")),
            ("scaler", StandardScaler())
        ])

        # Rellenamos nulos con la moda y aplicamos One-Hot encoding
        cat_transformer = Pipeline(steps=[
            ("imputer", SimpleImputer(strategy="most_frequent")),
            ("onehot", OneHotEncoder(handle_unknown="ignore"))
        ])

        # Create the ColumnTransformer with explicitly defined column lists, no remainder
        self.pipeline = ColumnTransformer(transformers=[
            ("num", num_transformer, num_cols_pipeline),
            ("cat", cat_transformer, cat_cols_pipeline)
        ], remainder='drop') # Explicitly drop other columns


        # Select only the columns intended for the pipeline before fitting
        cols_for_pipeline = num_cols_pipeline + cat_cols_pipeline
        X_proc_for_pipeline = X_proc[cols_for_pipeline]


        self.pipeline.fit(X_proc_for_pipeline)

        # Guardamos los nombres de features finales (para evitar un shape mismatch)
        # en otras palabras, evitamos que el dataframe original y el dataframe con los valores
        # transformados no sean del mismo tamaño
        # The order of columns in the output will be num_cols_pipeline + one-hot encoded cat_cols_pipeline
        self.output_feature_names_ = (
            num_cols_pipeline +
            list(self.pipeline.named_transformers_["cat"].named_steps["onehot"].get_feature_names_out(cat_cols_pipeline))
        )
        return self

    # Transform - Aplica las transformaciones a un nuevo dataset

    def transform(self, X):
        """
        Aplica las transformaciones al dataset (imputación, escalado y encoding).
        """
        if not self.feature_engineered:
            raise RuntimeError("Primero usa fit() en datos de entrenamiento.")
        X_proc = self._feature_engineering(X.copy())

        # Identify numerical and categorical columns based on explicit lists used during fit
        num_cols_pipeline = [col for col in self.num_cols if col in X_proc.columns]
        cat_cols_pipeline = [col for col in self.cat_cols if col in X_proc.columns]


        # Select only the columns intended for the pipeline before transforming
        cols_for_pipeline = num_cols_pipeline + cat_cols_pipeline
        X_proc_for_pipeline = X_proc[cols_for_pipeline]


        X_out = self.pipeline.transform(X_proc_for_pipeline)


        return pd.DataFrame(X_out, columns=self.output_feature_names_, index=X.index)


    # Combinación de Fit y de Transform
    def fit_transform(self, X, y=None):
        """
        Combina fit() y transform() en una sola llamada.
        """
        return self.fit(X, y).transform(X)

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
# Creamos una instancia de TitanicDatasetPreprocessor y realizamos un fit para los datos
preprocessor = TitanicDatasetPreprocessor()
preprocessor.fit(df)

# Ahora, usamos TitanicDatasetPreprocessor ya con los parametros de transformación para utilizar
# el metodo de transformación para ver el output del pipeline
df_transformed_correct = preprocessor.transform(df.copy())

# Finalmente, desplegamos el shape de los datos transformados y  los primeros cinco renglones
print("Shape de los datos transformados:", df_transformed_correct.shape)
print("\nPrimeros 5 renglones de los datos transformados:")
display(df_transformed_correct.head())

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'Title':
Title
Mr        517
Miss      185
Mrs       126
Master     40
Rare       23
Name: count, dtype: int64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'FamilySize':
FamilySize
1     537
2     161
3     102
4      29
5      15
6      22
7      12
8       6
11      7
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'FamilySize':
count    891.000000
mean       1.904602
std        1.613459
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       11.000000
Name: FamilySize, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'IsAlone':
IsAlone
1    537
0    354
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'IsAlone':
count    891.000000
mean       0.602694
std        0.489615
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: IsAlone, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'AgeGroup':
AgeGroup
Adult                  752
Child                   68
Adolescent/Teenager     45
Senior                  26
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'FarePerPerson':
count    891.000000
mean      19.916375
std       35.841257
min        0.000000
25%        7.250000
50%        8.300000
75%       23.666667
max      512.329200
Name: FarePerPerson, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'CabinDeck':
CabinDeck
Unknown    687
C           59
B           47
D           33
E           32
A           15
F           13
G            4
T            1
Name: count, dtype: int64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'CabinKnown':
CabinKnown
1    687
0    204
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'CabinKnown':
count    891.000000
mean       0.771044
std        0.420397
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: CabinKnown, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'TicketFrequency':
TicketFrequency
1    547
2    188
3     63
4     44
5     10
6     18
7     21
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'TicketFrequency':
count    891.000000
mean       1.787879
std        1.361142
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        7.000000
Name: TicketFrequency, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'NameLength':
NameLength
12     2
13     2
14     3
15    15
16    26
17    42
18    50
19    64
20    39
21    40
22    38
23    39
24    43
25    55
26    49
27    50
28    43
29    32
30    37
31    30
32    23
33    22
34     7
35     6
36     9
37    10
38     9
39     9
40     7
41     8
42     5
43     5
44     8
45     9
46     7
47    11
48     3
49     5
50     4
51     7
52     4
53     2
54     1
55     2
56     3
57     2
61     1
65     1
67     1
82     1
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'NameLength':
count    891.000000
mean      26.965208
std        9.281607
min       12.000000
25%       20.000000
50%       25.000000
75%       30.000000
max       82.000000
Name: NameLength, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'HasCabinNeighbor':
HasCabinNeighbor
0    687
1    204
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'HasCabinNeighbor':
count    891.000000
mean       0.228956
std        0.420397
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: HasCabinNeighbor, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'TicketPrefix':
TicketPrefix
Unknown    661
PC          60
C           33
A           29
STON        18
SOTON       17
CA          14
S           14
SC          13
W           11
F            6
LINE         4
PP           3
P            2
WE           2
SO           1
Fa           1
SCO          1
SW           1
Name: count, dtype: int64
Validación pasada: Title
Validación pasada: FamilySize
Validación pasada: IsAlone
Validación pasada: AgeGroup
Validación pasada: FarePerPerson
Validación pasada: Sex*Class
Validación pasada: Age*Class
Validación pasada: Sex*AgeGroup
Validación pasada: Fare*Embarked
Validación pasada: Family*Class

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'Title':
Title
Mr        517
Miss      185
Mrs       126
Master     40
Rare       23
Name: count, dtype: int64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'FamilySize':
FamilySize
1     537
2     161
3     102
4      29
5      15
6      22
7      12
8       6
11      7
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'FamilySize':
count    891.000000
mean       1.904602
std        1.613459
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       11.000000
Name: FamilySize, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'IsAlone':
IsAlone
1    537
0    354
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'IsAlone':
count    891.000000
mean       0.602694
std        0.489615
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: IsAlone, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'AgeGroup':
AgeGroup
Adult                  752
Child                   68
Adolescent/Teenager     45
Senior                  26
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'FarePerPerson':
count    891.000000
mean      19.916375
std       35.841257
min        0.000000
25%        7.250000
50%        8.300000
75%       23.666667
max      512.329200
Name: FarePerPerson, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'CabinDeck':
CabinDeck
Unknown    687
C           59
B           47
D           33
E           32
A           15
F           13
G            4
T            1
Name: count, dtype: int64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'CabinKnown':
CabinKnown
1    687
0    204
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'CabinKnown':
count    891.000000
mean       0.771044
std        0.420397
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: CabinKnown, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'TicketFrequency':
TicketFrequency
1    547
2    188
3     63
4     44
5     10
6     18
7     21
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'TicketFrequency':
count    891.000000
mean       1.787879
std        1.361142
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        7.000000
Name: TicketFrequency, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'NameLength':
NameLength
12     2
13     2
14     3
15    15
16    26
17    42
18    50
19    64
20    39
21    40
22    38
23    39
24    43
25    55
26    49
27    50
28    43
29    32
30    37
31    30
32    23
33    22
34     7
35     6
36     9
37    10
38     9
39     9
40     7
41     8
42     5
43     5
44     8
45     9
46     7
47    11
48     3
49     5
50     4
51     7
52     4
53     2
54     1
55     2
56     3
57     2
61     1
65     1
67     1
82     1
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'NameLength':
count    891.000000
mean      26.965208
std        9.281607
min       12.000000
25%       20.000000
50%       25.000000
75%       30.000000
max       82.000000
Name: NameLength, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'HasCabinNeighbor':
HasCabinNeighbor
0    687
1    204
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'HasCabinNeighbor':
count    891.000000
mean       0.228956
std        0.420397
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: HasCabinNeighbor, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'TicketPrefix':
TicketPrefix
Unknown    661
PC          60
C           33
A           29
STON        18
SOTON       17
CA          14
S           14
SC          13
W           11
F            6
LINE         4
PP           3
P            2
WE           2
SO           1
Fa           1
SCO          1
SW           1
Name: count, dtype: int64
Validación pasada: Title
Validación pasada: FamilySize
Validación pasada: IsAlone
Validación pasada: AgeGroup
Validación pasada: FarePerPerson
Validación pasada: Sex*Class
Validación pasada: Age*Class
Validación pasada: Sex*AgeGroup
Validación pasada: Fare*Embarked
Validación pasada: Family*Class
Shape de los datos transformados: (891, 66)

Primeros 5 renglones de los datos transformados:

,Pclass,Age,SibSp,Parch,Fare,FamilySize,IsAlone,FarePerPerson,CabinKnown,TicketFrequency,...,Sex*Class_male_2,Sex*Class_male_3,Sex*AgeGroup_female_Adolescent/Teenager,Sex*AgeGroup_female_Adult,Sex*AgeGroup_female_Child,Sex*AgeGroup_female_Senior,Sex*AgeGroup_male_Adolescent/Teenager,Sex*AgeGroup_male_Adult,Sex*AgeGroup_male_Child,Sex*AgeGroup_male_Senior
0,0.827377,-0.565736,0.432793,-0.473674,-0.502445,0.059160,-1.231645,-0.454798,0.544925,-0.579162,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,-1.566107,0.663861,0.432793,-0.473674,0.786845,0.059160,-1.231645,0.438994,-1.835115,-0.579162,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.827377,-0.258337,-0.474545,-0.473674,-0.488854,-0.560975,0.811922,-0.334757,0.544925,-0.579162,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-1.566107,0.433312,0.432793,-0.473674,0.420730,0.059160,-1.231645,0.185187,-1.835115,0.155928,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.827377,0.433312,-0.474545,-0.473674,-0.486337,-0.560975,0.811922,-0.331267,0.544925,-0.579162,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
# ==============================================
# 1. Importar librerías necesarias
# ==============================================
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score
from sklearn.impute import SimpleImputer # Import SimpleImputer

# ==============================================
# 2. Cargar dataset Titanic
# ==============================================
df_new = pd.read_csv("Titanic-Dataset.csv")

print("Shape original:", df.shape)
df_new.head()

# ==============================================
# 3. Separar features y target
# ==============================================
y = df_new["Survived"]  # variable objetivo
X = df_new.drop(columns=["Survived"])

# ==============================================
# 4. Preprocesamiento con tu clase
# ==============================================
preprocessor = TitanicDatasetPreprocessor()
X_transformed = preprocessor.fit_transform(X)

# The transform method now returns a DataFrame with correct column names and index
X_df = X_transformed


print("Shape transformado:", X_df.shape)
X_df.head()

# ==============================================
# 5. Train-Test Split
# ==============================================
X_train, X_test, y_train, y_test = train_test_split(
    X_df, y, test_size=0.2, random_state=42, stratify=y
)

# Explicitly impute NaNs in X_train and X_test just before fitting the model
# This is a workaround for the persistent NaN error, despite checks showing no NaNs
imputer = SimpleImputer(strategy='median')
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)


print(f"\nNumber of NaNs in X_train before fitting model:\n{np.isnan(X_train).sum()}")
print(f"\nNumber of NaNs in X_test before predicting:\n{np.isnan(X_test).sum()}")


# ==============================================
# 6. Modelo de prueba: Logistic Regression
# ==============================================
# LogisticRegression expects numpy arrays, which is what the imputer returns
log_reg = LogisticRegression(max_iter=200, solver="liblinear", class_weight="balanced")
log_reg.fit(X_train, y_train)

# ==============================================
# 7. Evaluación
# ==============================================
# y_pred = log_reg.predict(X_test)
# y_proba = log_reg.predict_proba(X_test)[:, 1]

# print("\nReporte de clasificación:\n")
# print(classification_report(y_test, y_pred))

# print("\nMatriz de confusión:\n")
# print(confusion_matrix(y_test, y_pred))

# print("\nROC-AUC:", roc_auc_score(y_test, y_proba))

# The evaluation metrics should be calculated from predictions on the transformed test data
y_pred = log_reg.predict(X_test)
y_proba = log_reg.predict_proba(X_test)[:, 1]

print("\nReporte de clasificación:\n")
print(classification_report(y_test, y_pred))

print("\nMatriz de confusión:\n")
print(confusion_matrix(y_test, y_pred))

print("\nROC-AUC:", roc_auc_score(y_test, y_proba))

Shape original: (891, 12)

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'Title':
Title
Mr        517
Miss      185
Mrs       126
Master     40
Rare       23
Name: count, dtype: int64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'FamilySize':
FamilySize
1     537
2     161
3     102
4      29
5      15
6      22
7      12
8       6
11      7
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'FamilySize':
count    891.000000
mean       1.904602
std        1.613459
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       11.000000
Name: FamilySize, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'IsAlone':
IsAlone
1    537
0    354
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'IsAlone':
count    891.000000
mean       0.602694
std        0.489615
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: IsAlone, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'AgeGroup':
AgeGroup
Adult                  752
Child                   68
Adolescent/Teenager     45
Senior                  26
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'FarePerPerson':
count    891.000000
mean      19.916375
std       35.841257
min        0.000000
25%        7.250000
50%        8.300000
75%       23.666667
max      512.329200
Name: FarePerPerson, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'CabinDeck':
CabinDeck
Unknown    687
C           59
B           47
D           33
E           32
A           15
F           13
G            4
T            1
Name: count, dtype: int64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'CabinKnown':
CabinKnown
1    687
0    204
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'CabinKnown':
count    891.000000
mean       0.771044
std        0.420397
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: CabinKnown, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'TicketFrequency':
TicketFrequency
1    547
2    188
3     63
4     44
5     10
6     18
7     21
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'TicketFrequency':
count    891.000000
mean       1.787879
std        1.361142
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        7.000000
Name: TicketFrequency, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'NameLength':
NameLength
12     2
13     2
14     3
15    15
16    26
17    42
18    50
19    64
20    39
21    40
22    38
23    39
24    43
25    55
26    49
27    50
28    43
29    32
30    37
31    30
32    23
33    22
34     7
35     6
36     9
37    10
38     9
39     9
40     7
41     8
42     5
43     5
44     8
45     9
46     7
47    11
48     3
49     5
50     4
51     7
52     4
53     2
54     1
55     2
56     3
57     2
61     1
65     1
67     1
82     1
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'NameLength':
count    891.000000
mean      26.965208
std        9.281607
min       12.000000
25%       20.000000
50%       25.000000
75%       30.000000
max       82.000000
Name: NameLength, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'HasCabinNeighbor':
HasCabinNeighbor
0    687
1    204
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'HasCabinNeighbor':
count    891.000000
mean       0.228956
std        0.420397
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: HasCabinNeighbor, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'TicketPrefix':
TicketPrefix
Unknown    661
PC          60
C           33
A           29
STON        18
SOTON       17
CA          14
S           14
SC          13
W           11
F            6
LINE         4
PP           3
P            2
WE           2
SO           1
Fa           1
SCO          1
SW           1
Name: count, dtype: int64
Validación pasada: Title
Validación pasada: FamilySize
Validación pasada: IsAlone
Validación pasada: AgeGroup
Validación pasada: FarePerPerson
Validación pasada: Sex*Class
Validación pasada: Age*Class
Validación pasada: Sex*AgeGroup
Validación pasada: Fare*Embarked
Validación pasada: Family*Class

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'Title':
Title
Mr        517
Miss      185
Mrs       126
Master     40
Rare       23
Name: count, dtype: int64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'FamilySize':
FamilySize
1     537
2     161
3     102
4      29
5      15
6      22
7      12
8       6
11      7
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'FamilySize':
count    891.000000
mean       1.904602
std        1.613459
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       11.000000
Name: FamilySize, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'IsAlone':
IsAlone
1    537
0    354
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'IsAlone':
count    891.000000
mean       0.602694
std        0.489615
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: IsAlone, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'AgeGroup':
AgeGroup
Adult                  752
Child                   68
Adolescent/Teenager     45
Senior                  26
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'FarePerPerson':
count    891.000000
mean      19.916375
std       35.841257
min        0.000000
25%        7.250000
50%        8.300000
75%       23.666667
max      512.329200
Name: FarePerPerson, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'CabinDeck':
CabinDeck
Unknown    687
C           59
B           47
D           33
E           32
A           15
F           13
G            4
T            1
Name: count, dtype: int64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'CabinKnown':
CabinKnown
1    687
0    204
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'CabinKnown':
count    891.000000
mean       0.771044
std        0.420397
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: CabinKnown, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'TicketFrequency':
TicketFrequency
1    547
2    188
3     63
4     44
5     10
6     18
7     21
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'TicketFrequency':
count    891.000000
mean       1.787879
std        1.361142
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        7.000000
Name: TicketFrequency, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'NameLength':
NameLength
12     2
13     2
14     3
15    15
16    26
17    42
18    50
19    64
20    39
21    40
22    38
23    39
24    43
25    55
26    49
27    50
28    43
29    32
30    37
31    30
32    23
33    22
34     7
35     6
36     9
37    10
38     9
39     9
40     7
41     8
42     5
43     5
44     8
45     9
46     7
47    11
48     3
49     5
50     4
51     7
52     4
53     2
54     1
55     2
56     3
57     2
61     1
65     1
67     1
82     1
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'NameLength':
count    891.000000
mean      26.965208
std        9.281607
min       12.000000
25%       20.000000
50%       25.000000
75%       30.000000
max       82.000000
Name: NameLength, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'HasCabinNeighbor':
HasCabinNeighbor
0    687
1    204
Name: count, dtype: int64

VERIFICACIÓN DE LA DISTRIBUCIÓN para 'HasCabinNeighbor':
count    891.000000
mean       0.228956
std        0.420397
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: HasCabinNeighbor, dtype: float64

VERIFICACIÓN DE VALORES ÚNICOS Y CONTEO para 'TicketPrefix':
TicketPrefix
Unknown    661
PC          60
C           33
A           29
STON        18
SOTON       17
CA          14
S           14
SC          13
W           11
F            6
LINE         4
PP           3
P            2
WE           2
SO           1
Fa           1
SCO          1
SW           1
Name: count, dtype: int64
Validación pasada: Title
Validación pasada: FamilySize
Validación pasada: IsAlone
Validación pasada: AgeGroup
Validación pasada: FarePerPerson
Validación pasada: Sex*Class
Validación pasada: Age*Class
Validación pasada: Sex*AgeGroup
Validación pasada: Fare*Embarked
Validación pasada: Family*Class
Shape transformado: (891, 66)

Number of NaNs in X_train before fitting model:
0

Number of NaNs in X_test before predicting:
0

Reporte de clasificación:

              precision    recall  f1-score   support

           0       0.84      0.83      0.83       110
           1       0.73      0.75      0.74        69

    accuracy                           0.80       179
   macro avg       0.79      0.79      0.79       179
weighted avg       0.80      0.80      0.80       179


Matriz de confusión:

[[91 19]
 [17 52]]

ROC-AUC: 0.8785243741765482

# Task
Analyze the output of the Titanic dataset preprocessor to confirm data transformation, address warnings, discuss the relevance of the 'PassengerId' column, and then proceed with the suggested steps: interpret the results of the basic model, test other models, tune hyperparameters, analyze feature importance, and perform cross-validation.

## Verificar la transformación

### Subtask:
Explicar cómo confirmar que la salida del preprocesamiento (`df_transformed_correct` o `X_df`) contiene datos transformados (escalados, codificados, etc.) y no información repetida.

**Reasoning**:
Visually inspect the transformed data, compare columns with the original dataframe, and check data types to confirm successful transformation and the absence of untransformed columns, as per steps 1-3 of the instructions.

In [ ]:
# Step 1: Examine the output of X_df.head() (already displayed in the previous cell)
# We can re-display it for clarity if needed, but it's already visible in the notebook output.
display(X_df.head())

# Step 2: Compare columns with the original df
print("Original DataFrame columns:\n", df.columns.tolist())
print("\nTransformed DataFrame columns:\n", X_df.columns.tolist())

# Step 3: Check data types of columns in X_df
print("\nTransformed DataFrame info:")
X_df.info()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,FamilySize,IsAlone,FarePerPerson,CabinKnown,...,Sex*Class_male_2,Sex*Class_male_3,Sex*AgeGroup_female_Adolescent/Teenager,Sex*AgeGroup_female_Adult,Sex*AgeGroup_female_Child,Sex*AgeGroup_female_Senior,Sex*AgeGroup_male_Adolescent/Teenager,Sex*AgeGroup_male_Adult,Sex*AgeGroup_male_Child,Sex*AgeGroup_male_Senior
0,-1.730108,0.827377,-0.565736,0.432793,-0.473674,-0.502445,0.059160,-1.231645,-0.454798,0.544925,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,-1.726220,-1.566107,0.663861,0.432793,-0.473674,0.786845,0.059160,-1.231645,0.438994,-1.835115,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-1.722332,0.827377,-0.258337,-0.474545,-0.473674,-0.488854,-0.560975,0.811922,-0.334757,0.544925,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-1.718444,-1.566107,0.433312,0.432793,-0.473674,0.420730,0.059160,-1.231645,0.185187,-1.835115,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-1.714556,0.827377,0.433312,-0.474545,-0.473674,-0.486337,-0.560975,0.811922,-0.331267,0.544925,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

Original DataFrame columns:
 ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

Transformed DataFrame columns:
 ['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'FamilySize', 'IsAlone', 'FarePerPerson', 'CabinKnown', 'TicketFrequency', 'NameLength', 'HasCabinNeighbor', 'Age*Class', 'Fare*Embarked', 'Family*Class', 'Title_Master', 'Title_Miss', 'Title_Mr', 'Title_Mrs', 'Title_Rare', 'AgeGroup_Adolescent/Teenager', 'AgeGroup_Adult', 'AgeGroup_Child', 'AgeGroup_Senior', 'CabinDeck_A', 'CabinDeck_B', 'CabinDeck_C', 'CabinDeck_D', 'CabinDeck_E', 'CabinDeck_F', 'CabinDeck_G', 'CabinDeck_T', 'CabinDeck_Unknown', 'TicketPrefix_A', 'TicketPrefix_C', 'TicketPrefix_CA', 'TicketPrefix_F', 'TicketPrefix_Fa', 'TicketPrefix_LINE', 'TicketPrefix_P', 'TicketPrefix_PC', 'TicketPrefix_PP', 'TicketPrefix_S', 'TicketPrefix_SC', 'TicketPrefix_SCO', 'TicketPrefix_SO', 'TicketPrefix_SOTON', 'TicketPrefix_STON', 'TicketPrefix_SW', 'TicketPrefix_Unknown', 'TicketPrefix_W', 'TicketPrefix_WE', 'Sex*Class_female_1', 'Sex*Class_female_2', 'Sex*Class_female_3', 'Sex*Class_male_1', 'Sex*Class_male_2', 'Sex*Class_male_3', 'Sex*AgeGroup_female_Adolescent/Teenager', 'Sex*AgeGroup_female_Adult', 'Sex*AgeGroup_female_Child', 'Sex*AgeGroup_female_Senior', 'Sex*AgeGroup_male_Adolescent/Teenager', 'Sex*AgeGroup_male_Adult', 'Sex*AgeGroup_male_Child', 'Sex*AgeGroup_male_Senior']

Transformed DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 67 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   PassengerId                              891 non-null    float64
 1   Pclass                                   891 non-null    float64
 2   Age                                      891 non-null    float64
 3   SibSp                                    891 non-null    float64
 4   Parch                                    891 non-null    float64
 5   Fare                                     891 non-null    float64
 6   FamilySize                               891 non-null    float64
 7   IsAlone                                  891 non-null    float64
 8   FarePerPerson                            891 non-null    float64
 9   CabinKnown                               891 non-null    float64
 10  TicketFrequency                          891 non-null    float64
 11  NameLength                               891 non-null    float64
 12  HasCabinNeighbor                         891 non-null    float64
 13  Age*Class                                891 non-null    float64
 14  Fare*Embarked                            891 non-null    float64
 15  Family*Class                             891 non-null    float64
 16  Title_Master                             891 non-null    float64
 17  Title_Miss                               891 non-null    float64
 18  Title_Mr                                 891 non-null    float64
 19  Title_Mrs                                891 non-null    float64
 20  Title_Rare                               891 non-null    float64
 21  AgeGroup_Adolescent/Teenager             891 non-null    float64
 22  AgeGroup_Adult                           891 non-null    float64
 23  AgeGroup_Child                           891 non-null    float64
 24  AgeGroup_Senior                          891 non-null    float64
 25  CabinDeck_A                              891 non-null    float64
 26  CabinDeck_B                              891 non-null    float64
 27  CabinDeck_C                              891 non-null    float64
 28  CabinDeck_D                              891 non-null    float64
 29  CabinDeck_E                              891 non-null    float64
 30  CabinDeck_F                              891 non-null    float64
 31  CabinDeck_G                              891 non-null    float64
 32  CabinDeck_T                              891 non-null    float64
 33  CabinDeck_Unknown                        891 non-null    float64
 34  TicketPrefix_A                           891 non-null    float64
 35  TicketPrefix_C                           891 non-null    float64
 36  TicketPrefix_CA                          891 non-null    float64
 37  TicketPrefix_F                           891 non-null    float64
 38  TicketPrefix_Fa                          891 non-null    float64
 39  TicketPrefix_LINE                        891 non-null    float64
 40  TicketPrefix_P                           891 non-null    float64
 41  TicketPrefix_PC                          891 non-null    float64
 42  TicketPrefix_PP                          891 non-null    float64
 43  TicketPrefix_S                           891 non-null    float64
 44  TicketPrefix_SC                          891 non-null    float64
 45  TicketPrefix_SCO                         891 non-null    float64
 46  TicketPrefix_SO                          891 non-null    float64
 47  TicketPrefix_SOTON                       891 non-null    float64
 48  TicketPrefix_STON                        891 non-null    float64
 49  TicketPrefix_SW                          891 non-null    float64
 50  TicketPrefix_Unknown                     891 non-null    float64
 51  TicketPrefix_W                           891 non-null    float64
 52  TicketPrefix_WE                          891 non-null    float64
 53  Sex*Class_female_1                       891 non-null    float64
 54  Sex*Class_female_2                       891 non-null    float64
 55  Sex*Class_female_3                       891 non-null    float64
 56  Sex*Class_male_1                         891 non-null    float64
 57  Sex*Class_male_2                         891 non-null    float64
 58  Sex*Class_male_3                         891 non-null    float64
 59  Sex*AgeGroup_female_Adolescent/Teenager  891 non-null    float64
 60  Sex*AgeGroup_female_Adult                891 non-null    float64
 61  Sex*AgeGroup_female_Child                891 non-null    float64
 62  Sex*AgeGroup_female_Senior               891 non-null    float64
 63  Sex*AgeGroup_male_Adolescent/Teenager    891 non-null    float64
 64  Sex*AgeGroup_male_Adult                  891 non-null    float64
 65  Sex*AgeGroup_male_Child                  891 non-null    float64
 66  Sex*AgeGroup_male_Senior                 891 non-null    float64
dtypes: float64(67)
memory usage: 466.5 KB

**Reasoning**:
Based on the visual inspection of the transformed data, the comparison of columns, and the data types displayed by `.info()`, confirm the successful transformation and absence of untransformed columns as required by step 4 of the instructions.

In [ ]:
# Step 4: Briefly describe the observations in a markdown cell
# The output of X_df.head() shows numerical values that are not in the original range,
# indicating scaling. It also shows columns like 'Title_Master', 'Title_Miss', etc.,
# with binary values (0.0 or 1.0), which is evidence of one-hot encoding for categorical features.
# The list of columns confirms the removal of original categorical columns ('Name', 'Sex', 'Ticket', 'Cabin', 'Embarked')
# and the addition of new engineered features and one-hot encoded columns.
# Finally, X_df.info() shows that almost all columns are of float64 dtype,
# confirming that the categorical features have been successfully converted to a numerical format through one-hot encoding
# and numerical features have been scaled, and no original, untransformed categorical columns are present.

### Relevancia de la columna 'PassengerId'

La columna 'PassengerId' es un identificador único para cada pasajero en el dataset del Titanic. Su propósito principal es servir como una etiqueta para distinguir cada fila y **no contiene ninguna información inherente que pueda predecir la supervivencia de un pasajero**. Es simplemente un número asignado secuencialmente.

En el contexto de la construcción de un modelo predictivo, las columnas que actúan únicamente como identificadores no suelen ser útiles. Incluir 'PassengerId' en las características del modelo podría llevar al sobreajuste, ya que el modelo podría aprender a asociar la supervivencia con identificadores específicos en el conjunto de entrenamiento, lo cual no se generalizaría a nuevos datos (pasajeros no vistos).

Por lo tanto, la columna 'PassengerId' **no debería incluirse** en las características utilizadas para entrenar el modelo. Es una variable nominal sin valor predictivo intrínseco para el objetivo de supervivencia. Debería ser excluida del conjunto de datos antes de entrenar cualquier modelo de machine learning, **lo cual ya hemos hecho en la celda `JLsWI8s38gxy` al crear `X`**.

In [ ]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score

# ==============================================
# 1. Random Forest Classifier
# ==============================================
print("--- Random Forest Classifier ---")
rf_model = RandomForestClassifier(n_estimators=100, random_state=42, class_weight='balanced')
rf_model.fit(X_train, y_train)

# Evaluation
y_pred_rf = rf_model.predict(X_test)
y_proba_rf = rf_model.predict_proba(X_test)[:, 1]

print("\nReporte de clasificación (Random Forest):\n")
print(classification_report(y_test, y_pred_rf))

print("\nMatriz de confusión (Random Forest):\n")
print(confusion_matrix(y_test, y_pred_rf))

print("\nROC-AUC (Random Forest):", roc_auc_score(y_test, y_proba_rf))

print("-" * 30)

# ==============================================
# 2. Gradient Boosting Classifier
# ==============================================
print("\n--- Gradient Boosting Classifier ---")
gb_model = GradientBoostingClassifier(n_estimators=100, random_state=42) # Gradient Boosting doesn't have class_weight
gb_model.fit(X_train, y_train)

# Evaluation
y_pred_gb = gb_model.predict(X_test)
y_proba_gb = gb_model.predict_proba(X_test)[:, 1]

print("\nReporte de clasificación (Gradient Boosting):\n")
print(classification_report(y_test, y_pred_gb))

print("\nMatriz de confusión (Gradient Boosting):\n")
print(confusion_matrix(y_test, y_pred_gb))

print("\nROC-AUC (Gradient Boosting):", roc_auc_score(y_test, y_proba_gb))

--- Random Forest Classifier ---

Reporte de clasificación (Random Forest):

              precision    recall  f1-score   support

           0       0.81      0.83      0.82       110
           1       0.71      0.68      0.70        69

    accuracy                           0.77       179
   macro avg       0.76      0.75      0.76       179
weighted avg       0.77      0.77      0.77       179


Matriz de confusión (Random Forest):

[[91 19]
 [22 47]]

ROC-AUC (Random Forest): 0.8377470355731225
------------------------------

--- Gradient Boosting Classifier ---

Reporte de clasificación (Gradient Boosting):

              precision    recall  f1-score   support

           0       0.83      0.85      0.84       110
           1       0.75      0.72      0.74        69

    accuracy                           0.80       179
   macro avg       0.79      0.79      0.79       179
weighted avg       0.80      0.80      0.80       179


Matriz de confusión (Gradient Boosting):

[[93 17]
 [19 50]]

ROC-AUC (Gradient Boosting): 0.8613306982872201

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score
import pandas as pd

# Define models and their parameter grids
models_and_params = [
    {
        'name': 'Logistic Regression',
        'model': LogisticRegression(max_iter=200, solver="liblinear", class_weight="balanced"),
        'params': {
            'C': [0.01, 0.1, 1, 10, 100],
            'penalty': ['l1', 'l2']
        }
    },
    {
        'name': 'Random Forest',
        'model': RandomForestClassifier(random_state=42, class_weight='balanced'),
        'params': {
            'n_estimators': [50, 100, 200],
            'max_depth': [None, 10, 20],
            'min_samples_split': [2, 5, 10]
        }
    },
    {
        'name': 'Gradient Boosting',
        'model': GradientBoostingClassifier(random_state=42),
        'params': {
            'n_estimators': [50, 100, 200],
            'learning_rate': [0.01, 0.1, 0.2],
            'max_depth': [3, 5, 7]
        }
    }
]

# Perform GridSearchCV for each model
best_models = {}

for item in models_and_params:
    print(f"--- Tuning {item['name']} ---")
    grid_search = GridSearchCV(item['model'], item['params'], cv=5, scoring='roc_auc', n_jobs=-1)
    grid_search.fit(X_train, y_train) # Use X_train and y_train from previous steps

    best_models[item['name']] = grid_search.best_estimator_

    print(f"Best parameters for {item['name']}: {grid_search.best_params_}")
    print(f"Best ROC-AUC score for {item['name']}: {grid_search.best_score_}")
    print("-" * 30)

# Evaluate the best models on the test set
print("\n--- Evaluation of Tuned Models on Test Set ---")
for name, model in best_models.items():
    y_pred = model.predict(X_test)
    y_proba = model.predict_proba(X_test)[:, 1]

    print(f"\n--- {name} ---")
    print("\nReporte de clasificación:\n")
    print(classification_report(y_test, y_pred))

    print("\nMatriz de confusión:\n")
    print(confusion_matrix(y_test, y_pred))

    print("\nROC-AUC:", roc_auc_score(y_test, y_proba))
    print("-" * 30)

--- Tuning Logistic Regression ---
Best parameters for Logistic Regression: {'C': 1, 'penalty': 'l1'}
Best ROC-AUC score for Logistic Regression: 0.8728640638358508
------------------------------
--- Tuning Random Forest ---
Best parameters for Random Forest: {'max_depth': 20, 'min_samples_split': 10, 'n_estimators': 100}
Best ROC-AUC score for Random Forest: 0.8823708875589753
------------------------------
--- Tuning Gradient Boosting ---
Best parameters for Gradient Boosting: {'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 50}
Best ROC-AUC score for Gradient Boosting: 0.8840328177279588
------------------------------

--- Evaluation of Tuned Models on Test Set ---

--- Logistic Regression ---

Reporte de clasificación:

              precision    recall  f1-score   support

           0       0.85      0.84      0.84       110
           1       0.75      0.77      0.76        69

    accuracy                           0.81       179
   macro avg       0.80      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179


Matriz de confusión:

[[92 18]
 [16 53]]

ROC-AUC: 0.8855072463768116
------------------------------

--- Random Forest ---

Reporte de clasificación:

              precision    recall  f1-score   support

           0       0.85      0.85      0.85       110
           1       0.75      0.75      0.75        69

    accuracy                           0.81       179
   macro avg       0.80      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179


Matriz de confusión:

[[93 17]
 [17 52]]

ROC-AUC: 0.8488801054018446
------------------------------

--- Gradient Boosting ---

Reporte de clasificación:

              precision    recall  f1-score   support

           0       0.85      0.84      0.84       110
           1       0.75      0.77      0.76        69

    accuracy                           0.81       179
   macro avg       0.80      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179


Matriz de confusión:

[[92 18]
 [16 53]]

ROC-AUC: 0.8544795783926219
------------------------------

In [ ]:
import pandas as pd
import numpy as np

# Get the best fitted models from the previous step (cell be7ee6f3)
best_log_reg_model = best_models['Logistic Regression']
best_rf_model = best_models['Random Forest']
best_gb_model = best_models['Gradient Boosting']

# Get the feature names after preprocessing
# X_df was created in cell JLsWI8s38gxy and contains the preprocessed data as a DataFrame
feature_names = X_df.columns.tolist()

print("--- Feature Importance Analysis ---")

# ==============================================
# 1. Logistic Regression Feature Importance (using coefficients)
# ==============================================
print("\n--- Logistic Regression Feature Importance (Absolute Coefficients) ---")
# The coefficients are in a numpy array, corresponding to the order of features in X_train (which is based on X_df)
log_reg_importance = np.abs(best_log_reg_model.coef_[0])
importance_df_lr = pd.DataFrame({'Feature': feature_names, 'Importance': log_reg_importance})
importance_df_lr = importance_df_lr.sort_values('Importance', ascending=False)
display(importance_df_lr.head(10)) # Display top 10 features

print("-" * 30)

# ==============================================
# 2. Random Forest Feature Importance
# ==============================================
print("\n--- Random Forest Feature Importance ---")
# Feature importances are in the feature_importances_ attribute
rf_importance = best_rf_model.feature_importances_
importance_df_rf = pd.DataFrame({'Feature': feature_names, 'Importance': rf_importance})
importance_df_rf = importance_df_rf.sort_values('Importance', ascending=False)
display(importance_df_rf.head(10)) # Display top 10 features

print("-" * 30)

# ==============================================
# 3. Gradient Boosting Feature Importance
# ==============================================
print("\n--- Gradient Boosting Feature Importance ---")
# Feature importances are in the feature_importances_ attribute
gb_importance = best_gb_model.feature_importances_
importance_df_gb = pd.DataFrame({'Feature': feature_names, 'Importance': gb_importance})
importance_df_gb = importance_df_gb.sort_values('Importance', ascending=False)
display(importance_df_gb.head(10)) # Display top 10 features

print("-" * 30)

--- Feature Importance Analysis ---

--- Logistic Regression Feature Importance (Absolute Coefficients) ---

               Feature  Importance
53  Sex*Class_female_2    1.738398
17            Title_Mr    1.499064
47   TicketPrefix_STON    1.466910
52  Sex*Class_female_1    1.231967
28         CabinDeck_E    1.128427
27         CabinDeck_D    1.024321
14        Family*Class    1.023648
15        Title_Master    0.880023
42      TicketPrefix_S    0.797864
18           Title_Mrs    0.728326

------------------------------

--- Random Forest Feature Importance ---

                      Feature  Importance
17                   Title_Mr    0.103535
59  Sex*AgeGroup_female_Adult    0.078917
63    Sex*AgeGroup_male_Adult    0.078157
7               FarePerPerson    0.074925
4                        Fare    0.071429
1                         Age    0.062820
10                 NameLength    0.062576
57           Sex*Class_male_3    0.037692
12                  Age*Class    0.035003
52         Sex*Class_female_1    0.034661

------------------------------

--- Gradient Boosting Feature Importance ---

               Feature  Importance
17            Title_Mr    0.473411
14        Family*Class    0.110013
7        FarePerPerson    0.077894
4                 Fare    0.046675
1                  Age    0.041296
19          Title_Rare    0.029930
10          NameLength    0.028563
0               Pclass    0.027601
9      TicketFrequency    0.020577
54  Sex*Class_female_3    0.019556

------------------------------

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import GradientBoostingClassifier # Assuming Gradient Boosting was the best performing tuned model
import numpy as np

# Get the best tuned Gradient Boosting model from the previous tuning step (cell be7ee6f3)
# If a different model was better, you can change this line
best_gb_model = best_models['Gradient Boosting']

# Perform cross-validation
# Use the full preprocessed data X_df and the target y from cell JLsWI8s38gxy
cv_scores = cross_val_score(best_gb_model, X_df, y, cv=5, scoring='roc_auc')

print("Cross-validation ROC-AUC scores:", cv_scores)
print("Mean Cross-validation ROC-AUC:", np.mean(cv_scores))
print("Standard Deviation of Cross-validation ROC-AUC:", np.std(cv_scores))

Cross-validation ROC-AUC scores: [0.86277997 0.82433155 0.90153743 0.85481283 0.90247308]
Mean Cross-validation ROC-AUC: 0.8691869734440536
Standard Deviation of Cross-validation ROC-AUC: 0.029712594269939323